branch-defaults:
  master:
    environment: null
global:
  application_name: delivery-hmo-vendedores-api
  branch: master
  default_ec2_keyname: null
  default_platform: Node.js
  default_region: us-east-1
  include_git_submodules: true
  instance_profile: null
  healthcheck: /
  platform_name: null
  platform_version: null
  profile: null
  repository: delivery-hmo-vendedores-api
  sc: git
  workspace_type: Application
